* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden !important;
  position: relative;
  bottom: 0px;
}
div {
  margin: 0 !important;
  padding: 0 !important;
}
.real-content {
  position: relative;
  min-height: 1000px;
  background-color: #60b8ff;
}
.wrapper {
  height: 100vh;
  width: 100vw;
  margin: auto;
  background: #60b8ff;
  overflow: hidden !important;
}
.background {
  height: 1080px;
  width: 1920px;
  background: url('./img/1497.jpg');
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
}
.rocks_1 {
  position: absolute;
  bottom: -5px;
  height: 315px;
  width: 1920px;
  background: url('./img/rocks_1.png');
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  animation: translateX 100s infinite linear both;
}
.rocks_2 {
  position: absolute;
  bottom: -60px;
  height: 315px;
  width: 1920px;
  background: url('./img/rocks_2.png');
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  animation: translateX 30s infinite linear both;
}
.rails {
  position: absolute;
  bottom: -110px;
  height: 315px;
  width: 1920px;
  background: url('./img/rails.png');
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  animation: translateX 5s infinite linear both;
}
.train {
  position: absolute;
  bottom: -105px;
  height: 315px;
  width: 1500px;
  right: 0px;
  background: url('./img/train.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.lights {
  position: absolute;
  bottom: -39px;
  height: 315px;
  width: 1920px;
  background: url('./img/lights.png');
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
  animation: translateX 4s infinite linear both;
}
.moon {
  position: absolute;
  top: 60%;
  height: 315px;
  left: 200px;
  width: 120px;
  background: url('./img/moon.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
@keyframes translateX {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 1920px 0px;
  }
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar,
.navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center !important;
  justify-content: center;
}
@media (max-width: 768px) {
  .navbar,
  .navbar .container {
    display: block;
  }
}

.navbar {
  padding: 1.15rem 1rem;
  /*
  |-----------------------------------
  | Start navbar logo or brand etc..
  |-----------------------------------
  */
  /*
  |-----------------------------------
  | Start navbar menu
  |-----------------------------------
  */
}
@media (min-width: 576px) {
  .navbar .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}
.navbar .navbar-header {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
.navbar .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}
@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}
.navbar .navbar-header > a {
  font-weight: 500;
  color: #ffffff;
  margin-top: 30px;
}
.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}
.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}
.navbar .navbar-menu .navbar-nav > li > a {
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}
.navbar .navbar-menu .navbar-nav > li > a:hover {
  color: #f8d86d;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav > li > a {
    border-bottom: 1px solid #eee;
  }
}
.navbar .navbar-menu .navbar-nav > li.active a {
  color: #f8d86d;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem 0;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}
@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #ffffff;
  padding: 0.25rem 1rem;
  display: block;
}
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}
.navbar .navbar-menu .navbar-nav .dropdown > .separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
}
.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header > a span {
  color: #66f;
}

.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
}
@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

.headline {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.headline h3 {
  background-color: #7930a2;
  color: #ffffff;
  padding: 15px 25px;
}

.break {
  flex-basis: 100%;
  height: 50px;
}

.stop-game .score-container {
  background-color: #4c4660;
  width: 433px;
  height: 386px;
  border-radius: 50px;
  text-align: center;
}
.stop-game .score-container h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  margin-top: 20px;
  margin-bottom: 4px;
  font-size: 64px;
}
.stop-game .score-container .final-score {
  color: #ffe345;
  font-weight: 900;
  font-size: 130px;
  letter-spacing: -6px;
  line-height: 110px;
}
.stop-game .score-container .result {
  color: #ff4571;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
.stop-game .score-container h4 {
  color: #fff;
  margin-top: 12px;
  margin-bottom: 20px;
}
.stop-game .score-container .tweet {
  background: #fff;
  padding: 8px 20px;
  border-radius: 4px;
  color: #55acee;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
  margin-bottom: 10px;
}
.stop-game .score-container .tweet:hover {
  background-color: #55acee;
  color: #fff;
}
.stop-game .score-container .tweet i {
  font-size: 24px;
  top: 2px;
  right: 2px;
  position: relative;
}
.stop-game .score-container .play-again {
  background-color: #ff4571;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 26px;
  padding: 6px 24px;
  border-radius: 22px;
  margin: 6px 4px;
  display: inline-block;
}
.stop-game .score-container .play-again:hover {
  background-color: #ff5f84;
}
.stop-game .score-container .main-menu {
  background-color: #44bfa3;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 26px;
  padding: 6px 24px;
  border-radius: 22px;
  margin: 6px 4px;
  display: inline-block;
}
.stop-game .score-container .main-menu:hover {
  background-color: #57c6ac;
}

.card {
}
